<mat-card>
    <form #postForm="ngForm"
          *ngIf="!isLoading">
        <mat-form-field>
            <mat-label>
                Title
            </mat-label>
            <input matInput 
                   type="text"
                   name="title"
                   [ngModel]="post?.title"
                   #title="ngModel"
                   minlength="3"
                   required
            />
            <mat-error *ngIf="title.invalid">
                Required, minimum length: 3
            </mat-error>
        </mat-form-field>
        <div>
            <button mat-stroked-button (click)="filePicker.click()" type="button">
                Pick Image
            </button>
            <input type="file" #filePicker />
        </div>
        <mat-form-field>
            <mat-label>
                Content
            </mat-label>
            <textarea matInput 
                      name="content"
                      [ngModel]="post?.content"
                      #content="ngModel"
                      rows="6"
                      required 
            >
            </textarea>
            <mat-error *ngIf="content.invalid">
                Please enter content
            </mat-error>
        </mat-form-field>
        <button mat-raised-button 
                type="submit"
                color="accent" 
                (click)="savePost(postForm)"
        >
            Save Post
        </button>
    </form>
    <mat-spinner *ngIf="isLoading">
    </mat-spinner>
</mat-card>
