<mat-card>
    <form #postForm="ngForm">
        <mat-form-field>
            <input matInput 
                   type="text"
                   name="title"
                   ngModel
                   #title="ngModel"
                   minlength="3"
                   required
            />
            <mat-error *ngIf="title.invalid">
                Required, minimum length: 3
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput 
                      name="content"
                      ngModel
                      #content="ngModel"
                      rows="6"
                      required 
            >
            </textarea>
            <mat-error *ngIf="content.invalid">
                Please enter content
            </mat-error>
        </mat-form-field>
        <button mat-raised-button 
                type="submit"
                color="accent" 
                (click)="addPost(postForm)"
        >
            Save Post
        </button>
    </form>
</mat-card>
